.comment-form-container {
  display: flex;
  justify-content: center;
}

.comment-form-content {
  background-color: #e9f3ff;
  padding: 40px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-between-spacing {
  margin-bottom: 16px;
  background-color: #fff;
}
