.navbar {
    color: rgba(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: rgba(255, 255, 255, 0.774);
}

.navbar:hover {
    color:rgba(255, 255, 255, 0.8);
}

.internalLinks {
    text-decoration: none;
    color: #1976d2;
}

/* .internalLinks:visited {
    color: black
} */

.internalLinks:hover {
    color: rgba(0, 0, 0, 0.75)
}

li {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}