.navbar {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgba(255, 255, 255, 0.774);
}